<!DOCTYPE html>
<html>

<head>
  <title>Locations</title>
  <!-- TODO: use styles.css -->
  <!-- <style>
    /* CSS styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* h1 {
      text-align: center;
    } */

    form {
      margin-top: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }


    .response-area {
      margin-top: 20px;
      background-color: #f0f0f0;

      padding: 20px 5px;
    }

    #get {
      background-color: #2ecc71;
    }

    #get:hover {
      background-color: #27ae60;
    }

    #post {
      background-color: #3498db;
    }

    #post:hover {
      background-color: #2980b9;
    }

    #put {
      background-color: #9b59b6;
    }

    #put:hover {
      background-color: #8e44ad;
    }

    #patch {
      background-color: #f1c40f;
    }

    #patch:hover {
      background-color: #f39c12;
    }

    #delete {
      background-color: #e74c3c;
    }

    #delete:hover {
      background-color: #c0392b;
    }
  </style> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  
</head>

<body>
  <div class="container">
    <%if (locals.error) {%>
            <div id="tag-error" class="tag-error">
              <%=error%>
            </div>
    <%}%>
    <% if (locals.data) { %> 
    <div class="response-area">
        <h1>
          Location: <%= data.name %> 
        </h1>
        <h2>
          Number of Zones: <%= data.zoneCount %> 
        </h2>
        <h2> Camps </h2>

         <% data.camps.forEach((camp) => { %>
          <ul>
            <li>
                <h4> <%= camp.name %></h4> <p>Risk: <%= camp.risk.charAt(0).toUpperCase() + camp.risk.slice(1) %> </p>
            </li>
          </ul>
        <% }) %> 
    </div>
    <% } %> 

    <form id="myForm" method="post">
      <label for="idInput">Choose Location:</label>
      <!-- <input type="text" id="idInput" name="id"> -->
      <select name ="id" > 
        <option value="" selected hidden>Random</option>
        <option value="1">Oilwell Basin</option>
        <option value="2">Windward Plains</option>
        <option value="3">Scarlet Forest</option>
        <option value="4">Ruins of Wyveria</option>
        <option value="5">Iceshard Cliffs</option>
      </select>


      <!-- <label for="riskInput">Danger:</label>
      <input type="text" id="riskInput" name="danger"> -->

      <input class="button" type="submit" value="Enter" formaction="/get-location">

    </form>
  </div>
</body>

</html>